@model UpdatePasswordDto;

<form asp-controller="EditUser" asp-action="ChangePassword">
    @Html.AntiForgeryToken()
    <br />
    <div class="container border p-3">
        <h1 class="text-info">Change Password</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden value="@ViewBag.Id"/>
            <div class="col-7 pb-3">
                <label asp-for="CurrentPassword" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="col-7 pb-3">
                <label asp-for="NewPassword" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="col-7 pb-3">
                <label asp-for="NewPasswordConfirmed" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="NewPasswordConfirmed" class="form-control" />
                <span asp-validation-for="NewPasswordConfirmed" class="text-danger"></span>
            </div>
            <div class="col-6">
                <a asp-controller="EditUser" asp-action="Edit" class="btn-primary btn form-control" asp-route-id="@ViewBag.Id">Back to edit</a>
            </div>
            <div class="col-6">
                <input type="submit" value="ChangePassword" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
