@model UpdateBasicCredentialsDto;

<form asp-controller="EditUser" asp-action="ChangeBasicCredentials">
    @Html.AntiForgeryToken()
    <br />
    <div class="container border p-3">
        <h1 class="text-info">Change Basic Credentials</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger" value="@ViewBag.Id"></div>
            <input asp-for="Id" class="form-control" hidden />
            <div class="col-7 pb-3">
                <label asp-for="FirstName" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-7 pb-3">
                <label asp-for="LastName" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-7 pb-3">
                <label asp-for="Address" class="control-label pt-2" style="font-size:20px;"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-6">
                <a asp-controller="EditUser" asp-action="Edit" class="btn-primary btn form-control" asp-route-id="@ViewBag.Id">Back to edit</a>
            </div>
            <div class="col-6">
                <input type="submit" value="ChangeBasicCredentials" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
